@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');



@import "tailwindcss";


@theme{
    --color-primary: #40A866;
    --color-primary-dull: #186132;
}

*{
    font-family: "Outfit", sans-serif;
}

.no-scrollbar::-webkit-scrollbar{
    display: none;
}